name: Deploy
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Make space
        uses: wimpysworld/nothing-but-nix@v10

      - name: NixInstaller
        uses: DeterminateSystems/determinate-nix-action@v3.16.0

      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_OAUTH_CLIENT_SECRET }}
          tags: tag:deploy-rs

      - name: Setup Attic cache
        uses: ryanccn/attic-action@v0
        with:
          endpoint: ${{ vars.ATTIC_ENDPOINT }}
          cache: ${{ vars.ATTIC_CACHE }}
          token: ${{ secrets.ATTIC_TOKEN }}

      - name: SshKey
        uses: shimataro/ssh-key-action@v2
        with:
          name: id_key
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ vars.SSH_KNOWN_HOSTS }}

      - name: Deploy
        run: |
          nix run .#deploy -- --ssh-opts="-i $HOME/.ssh/id_key -o UserKnownHostsFile=$HOME/.ssh/known_hosts"

      - name: Actions Ntfy
        if: ${{ !cancelled() }}
        run: |
          curl \
            -H "Authorization: Bearer ${{ secrets.NTFY_TOKEN }}" \
            -H "Title: Nix deployment" \
            -H "Content-Type: text/plain; charset=utf-8" \
            -d "Deployment of ${{ github.repository }} @ ${{ github.event.workflow_run.display_title }}: ${{ job.status}}" \
            ${{ secrets.NTFY_URL }}
